header h1 {
    height: 54px;
}
@media (max-width: 600px){
    body {
        background-color: rgb(172, 172, 220);
    }
}

@media(min-width: 601px){
    body{
        background: rgb(247, 110, 110);
    }
}
@media(min-width:1280px){
    body{
        background-color: rgb(147, 241, 147);
    }
}