*{
    margin: 0;
    padding: 0;
}
.threeIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameBG {
    background-color: rgb(223, 248, 223);
}
@media (max-width: 600px) {
    *{
        padding: 0;
        margin: 0;
    }
    body {
        background-color: #e6f7ff;
    }
    form{
        text-align: center;
    }
    
    label {
        font-size: 1.2em;
    }
    .asterisk{
        color: red;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        font-size: 1.1em;
        padding: 10px;
        margin-bottom: 10px;
    }
}


@media (min-width: 601px) {
    body {
        background-color: #f0f0f0; 
    }
    label {
        font-size: 1em;
    }
    button{
        margin-left: 67%;
    }
    .asterisk{
        color: red;
    }
    .form-group {
        display: flex;
        justify-content: space-between;
    }
    .form-group label {
        flex-basis: 45%;
        text-align: right;
        padding-right: 10px;
    }
    .form-group input,
    .form-group textarea {
        flex-basis: 50%;
    }
}
h1{
    text-align: center                                                                                      ;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 10px;
    /* float: left; */
}

button {
    display: flex;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    /* margin-left: 67%; */
    margin: auto;

}

#madara{
    height: 200px;
    width: auto;
}
#jiraiya{
    height: 200px;
    width: auto;
}
#naruto{
    height: 200px;
    width: auto;
}