/* Add any additional styles here */
header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
  
.container {
    margin-top: 20px;
}
  
.caption {
    text-align: center;
    font-style: italic;
}


.tabform {
    display: flex;
    flex-direction: column;
}
/* Requirement-6 : changing order of form and table */
@media (max-width: 600px) {
    
    .tabform .container:nth-child(2){
        order: -1; /*rather than giving specific order, u just  need to take it a step back, so just -1 I guess */
    }
  
    .tabform .container:nth-child(1) {
        order: 1; 
    }
}
